title Google
head
  link(rel='icon', href=require('images/favicons/google.png'))
header
  .header
    span(style={position: 'absolute',right: '0pt'})
      a(class='header__nav',href='#') Gmail
      a(class='header__nav',href='#') Images
      a(class='header__nav',href='#') Icon
      input(class='header__button header__button--margin-right', type='button', value='Sign in')
body
  div
    center
      img(src=require('images/others/googlelogo.png'), alt='google', style={'padding-top':'160px', 'padding-bottom':'30px'})
  div(style={height: '146px', background: 'white'})
    form
      div(style={height: '67px', background: 'white'})
        center
          input(class='searchbar', type='text', style={height:'44px', width:'500px'})
      div(id='123', style={height: '79px', 'background-color': 'white'})
        center
          input(class='button', type='button', value='Google Search', style={height:'36px', width:'138px'})
          span(style={padding:'0px 0px 0px 14px'})
          input(class='button',type='button', value="I'm Feeling Lucky", style={height:'36px', width:'138px'})
  div(style={height: '68px', background: 'white'})
    center
      p Google offered in:
        - var languageLinks = {'हिन्दी': '#', 'বাংলা': '#', 'తెలుగు': '#', 'मराठी': '#', 'ગુજરાતી': '#', 'தமிழ்': '#', 'ಕನ್ನಡ': '#', 'മലയാളം': '#', 'ਪੰਜਾਬੀ': '#'}
        each val, index in languageLinks
          a(class='link', href=val)=index
footer
  div(style={height: '45px', background: '#f2f2f2'})
    div(style={height: '10px', background: '#f2f2f2'})
    a(class='otherlinks',href='#') India
  div(style={height: '45px', background: '#f2f2f2'})
    div(style={height: '10px', background: '#f2f2f2'})
    - var footerLeft = {'Advertising': '#', 'Business': '#', 'About': '#', 'How Search works': '#'}
    each val, index in footerLeft
      a(class='otherlinks',href=val)=index
    span(style={position: 'absolute', right: '0pt'})
      - var footerRight = {'Privacy': '#', 'Terms': '#', 'Settings': '#'}
      each val, index in footerRight
        a(class='otherlinks', href=val, style={padding: '0px 27px 0px 0px'})=index
